.u-display{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
}

.box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    flex: 1 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

svg{
    color: lightskyblue;
}

.l-display{
    padding-left: 12%;
    padding-right: 12%;

}

.form-css{
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact-inline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

textarea {
    resize: none;
 }
input::placeholder{
    font-size: 13px;
}

.box:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.disabled-input{
    cursor: no-drop;
}

 @media only screen and (max-width: 840px) {
    .u-display {
      flex-direction: column;
    }
    .l-display{
        padding: 0%;
    }
    .contact-inline{
        display: flex;
        flex-direction: column;
    }
  }

